.css-grid{

    display: grid;
    column-gap: 40px;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    justify-items: center;
    justify-content: center;
    padding-bottom: 1em;
    background-color: antiquewhite;
    border:solid 2px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}

input{
    width: 50px;
}
#heading{
    text-align: center;
    margin-top: 5rem;
    background-color: rgb(159, 159, 198);
    border:solid 2px rgb(65, 65, 107);
    margin-bottom: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h2{
   text-align: center;
   margin-bottom: 0%;
   background-color: rgb(171, 165, 165);
   border: solid 2px black;
   border-bottom:solid 1px;
   margin-top: 0;
}
h3{
    text-align: center;
    margin-bottom: 0%;
}

#credits_div,#cpi_div{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}
#cpi_div{
    margin-bottom: 1rem;
}
.answer{
    width: 80%;
    display: none;
    background-color: rgb(129, 245, 199);
    border:double 5px black;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button{
    width: 8rem;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 13px;
    border: dashed 2px rgb(88, 86, 86);
    background-color: rgb(234, 228, 228);
}


#calculate{
    font-size: large;
    background-image : linear-gradient(45deg,rgba(0,255,255,50%),rgba(255,0,255,50%));  
    border: solid 2px darkblue;
    border-radius: 10px;
    padding:5px;
    font-weight:bold;
    text-align: center;
    width:max-content;
}

#calculate:hover{
    font-style:italic;
    text-decoration:underline;
}

#cpi_credits{
  
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    border-left:solid 2px black;
    border-right:solid 2px black;

}

#plus,#minus{
    margin-right:10px;
    font-size: large;
    font-weight: bold;
}
